.calendar__header {
  @include Flex();
  gap: 2rem;
  color: $gray-100;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  user-select: none;
  &__range {
    width: 20rem;
  }
  &__arrow {
    cursor: pointer;
    font-size: 2rem;
    transition: all 0.3s ease;
    &:hover {
      background: $gray-50;
      padding: 0.2rem;
      border-radius: 50%;
    }
  }
}
