.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}
.calendar {
  @include Flex(column);
  width: 100%;
  padding: 2rem;
  &__table {
    border-collapse: collapse;
    width: 100%;
    th,
    td {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
  }
}
