@import "./components";
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}
.calendar {
  @include Flex(column);
  width: 100%;
  padding: 2rem;
  &__table {
    border-collapse: collapse;
    width: 100%;
    th,
    td {
      border: 2px solid $gray-50;
      text-align: center;
      padding: 2rem;
    }
  }
  &__event {
    @include Flex(column);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.5rem;
    border: 2px solid $gray-100;
    background-color: $gray-50;
    color: $event-text;
    font-size: 1.2rem;
    font-weight: 500;

    &--work {
      background: $event-work-bg;
      border-color: $event-work-border;
    }
    &--personal {
      background: $event-personal-bg;
      border-color: $event-personal-border;
    }
    &--meetings {
      background: $event-meetings-bg;
      border-color: $event-meetings-border;
    }
  }
  &__cell {
    position: relative;
  }
}
