@import "./components";

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}
.calendar {
  @include Flex(column);
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: $white;
  border-radius: 14px;
  box-shadow: 0px 4px 17px 0px $background;
  &__key-cell {
    width: 10rem;
  }
  &__key-cell,
  th {
    color: $gray-100;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
  }
  &__table {
    border-collapse: collapse;
    width: 100%;
    th,
    td {
      border: 2px solid $gray-50;
      text-align: center;
      padding: 1rem;
      height: 10rem;
    }
    td {
      &:hover {
        background: $gray-50;
      }
      &:has(.calendar__cell--slot) {
        padding: 0;
      }
    }
  }
  &__settings {
    @include Flex(row, space-between);
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: $gray-100;
    width: 100%;
    padding: 2.5rem;
  }
}
