//primary colors shades:
$primary-50: #f2fbff;
$primary-100: #def4fe;
$primary-200: #b9e9fd;
$primary-300: #8cdafd;
$primary-400: #56c8fa;
$primary-500: #12bafc;
$primary-600: #0ea6e3;
$primary-700: #0b8ec4;
$primary-800: #096d99;
$primary-900: #06475f;

$white: #ffffff;
$black: #000000;
$gray-50: #e9edf5;
$gray-100: #6b76a5;
$event-text: #05324c;
$background: #f7f9fa;

//events colors:
$event-work-border: #0ea6e3;
$event-work-bg: #f2fbff;
$event-work-text: #008dd1;
$event-work-tag-bg: #b7e9ff;

$event-personal-border: #08df91;
$event-personal-bg: #eefff8;
$event-personal-text: #04915f;
$event-personal-tag-bg: #d7fff0;

$event-meetings-border: #fa5a15;
$event-meetings-bg: #fff5ed;
$event-meetings-text: #fa5a15;
$event-meetings-tag-bg: #ffe8d5;
