//primary colors shades:
$primary-50: #f2fbff;
$primary-100: #def4fe;
$primary-200: #b9e9fd;
$primary-300: #8cdafd;
$primary-400: #56c8fa;
$primary-500: #12bafc;
$primary-600: #0ea6e3;
$primary-700: #0b8ec4;
$primary-800: #096d99;
$primary-900: #06475f;

$white: #ffffff;
$black: #000000;
$gray-50: #e9edf5;
$gray-100: #6b76a5;
